header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding-bottom: 12px;
}

header nav {
  padding-right: 40px;
}

div {
  border: 1px solid black;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo span {
  color: MediumAquaMarine;
}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.main {
  display: flex;
  justify-content: space-between;
}

.stories {
  display:inline-flex;
}

.image-content {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white
}

.story-main.image-content {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white
}

.story-main.image-content {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
}

.fall.image-content {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png)
}

.camera.image-content {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png)
}

.cat.image-content {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
}
.narrative {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
