header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding-bottom: 12px;
}

header nav {
  padding-right: 40px;
}

div {
  border: 1px solid black;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo span {
  color: MediumAquaMarine;
}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.main {
  display: flex;
}

.stories {
  display:inline-flex;
}
